.loginscreen {
  background-color: black;
}

.chat_page .message-sent div {
  background: #00000014;
  color: black;
}
.chat_page .message-sent span {
  font-size: 12px;
  display: block;
  text-align: right;
}
.chat_page .message-get div {
  background: #00800033;
  color: black;
}
.chat_page .message-get span {
  font-size: 12px;
  display: block;
}
.chat_page .chat_row {
  max-height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chat_page .message_area_editor {
  width: 100%;
  border: 1px solid #00000030;
  outline: none;
}
.chat_page .message_area_editor:empty::before {
  content: "Type Message Here";
  width: 100%;
  color: black;
}
